.header {
  margin-bottom: 16px;
}

.header h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.header button {
  width: 100%;
}
.list{
  float: left;
  margin:3rem;
  margin: 1rem;
  border: 2px solid ;
}